<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Login | Nakama Network</title>
    @{ Html.RenderPartial("_HeaderPartial"); }
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <title>Nakama Network</title>
</head>
<body>
    @{ Html.RenderPartial("_CssPartial"); }
    @RenderSection("Scripts", required: false)

    <div class="login-wrapper">
        <div class="container">
            <div class="jumbo">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>