@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="_dangerText">Access Denied.</h1>
    <p>You do not have access to this resource.</p>
    <a href="/" class="button _primary">Return Home</a>
</header>
