@{
    ViewData["Title"] = "Login Failed";
}

<header>
    <h2 class="danger-text">@ViewData["Title"]</h2>
    <p>Unsuccessful login with service. Please try again!</p>
    <a href="/" class="button _primary">Return Home</a>
</header>
