@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

    <div class="row">
        <p class="text-info">
            You've successfully authorized your <strong>@ViewData["LoginProvider"]</strong> account.
            Please select a UserName and Email Address for NakamaDB below to finish registration.
        </p>
    </div>
    <div class="row">
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input asp-for="UserName" type="text" class="validate" />
            <label asp-for="UserName" class="col m2"></label>
            <span asp-validation-for="UserName" class="red-text"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input asp-for="Email" type="email" class="validate" />
            <label asp-for="Email" class="col m2"></label>
            <span asp-validation-for="Email" class="red-text"></span>
        </div>
    </div>
    <div class="row right">
        <button class="waves-effect waves-light btn btn-large orange darken-3" type="submit">
            Register
            <i class="material-icons right large">send</i>
        </button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            Materialize.updateTextFields();
        });
    </script>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
