@{
    ViewData["Title"] = "Locked Out";
}

<header>
    <h1 class="danger-text">@ViewData["Title"]</h1>
    <p>This account has been locked out, please try again later.</p>
    <a href="/" class="button _primary">Return Home</a>
</header>
