<section>
    <h2 data-bind="text:displayName"></h2>
    <form>
        <div class="panel-group" data-bind="with: TeamModel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Units</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="widget: { kind: 'teamBuilder', units: Units, enemy: false }"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sockets</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="widget: { kind: 'socketPicker', sockets: Sockets }"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="descriptionField">Description</label>
                        <textarea id="descriptionField"
                                  class="form-control"
                                  placeholder="Write a brief passage explaining your team."
                                  data-bind="text: Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="creditsField">Credits</label>
                        <textarea id="creditsField"
                                  class="form-control"
                                  placeholder="Reference any guides, videos, etcetera, and their authors here."
                                  data-bind="text: Credits"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                <button class="btn btn-lg btn-success"><i class="fa fa-fw fa-check"></i> Submit</button>
            </div>
        </div>
    </form>
</section>