<template>
    <div class="jumbo _info home-box">
        <div class="row">
            <h1>Welcome to Nakama Network!</h1>
            <hr />
            <h2>The Premiere Team-Building and Sharing Website for One Piece: Treasure Cruise!</h2>
        </div>
        <div class="row">
            <div class="col m6">
                <div class="card _white">
                    <img src="/content/home/search.png" title="Search Teams" />
                    <div class="-content">
                        <h3>
                            Browse, search, submit, and rate teams<br />
                            for <a href="http://onepiece-treasurecruise.com/en/" target="_blank">One Piece Treasure Cruise.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col m6">
                <div class="card _white">
                    <img src="/content/home/calculator.png" title="Damage Calculator Import/Export" />
                    <div class="-content">
                        <h3>
                            Import teams directly from<br />
                            <a href="http://optc-db.github.io/damage/#/" target="_blank">OPTC-db's Damage Calculator.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col m12">
                <div class="card _white">
                    <img src="/content/home/boxes.png" title="Maintain your Box" />
                    <div class="-content">
                        <h3>
                            Keep track of the units you own and don't own and easily filter
                            teams and units based on your box!
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col m6">
                <div class="card _white">
                    <img src="/content/home/videos.png" title="Submit YouTube Videos" />
                    <div class="-content">
                        <h3>
                            Share your <a href="https://youtube.com" target="_blank">YouTube</a> videos<br />
                            to show off your teams in action!
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col m6">
                <div class="card _white">
                    <img src="/content/home/register.png" title="Social Media OAuth Login" />
                    <div class="-content">
                        <h3>
                            <a href="#" click.delegate="login()">Register</a> quickly with a social media account.<br />
                            No passwords required!
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <p>
                Special thanks to the folks at <a href="https://optc-db.github.io/" target="_blank">OPTC-db</a> whose constant effort<br />
                to document every aspect of One Piece: Treasure Cruise power Nakama Network!
            </p>
        </div>
    </div>
</template>
