<template>
    <h1>Markdown Syntax</h1>
    <div class="row" repeat.for="text of guides">
        <h3>${text.header}</h3>
        <h4>Input</h4>
        <pre><code><p>${text.text}</p></code></pre>
        <h4>Output</h4>
        <markdown value="${text.text}"></markdown>
        <hr />
    </div>
    <div class="row">
        <em>
            Original markdown guide written by
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Adam Pritchard.</a>
            Altered for Nakama Network.
        </em>
    </div>
</template>
