<template>
    <h1>News</h1>
    <h2>01/16/18</h2>
    <ul>
        <li>Added support for sockets on teams.</li>
    </ul>
    <hr />
    <h2>01/13/18</h2>
    <ul>
        <li>Added a 'draft' option for teams, allowing you to save a team without making it public.</li>
    </ul>
    <hr />
    <h2>01/11/18</h2>
    <ul>
        <li>Added support for markdown in guides and credits.</li>
    </ul>
    <hr />
    <h2>01/10/18</h2>
    <ul>
        <li>Added better error logging for server-side issues.</li>
        <li>Fixed an issue with search model caching.</li>
        <li>Fixed an issue where unauthorized users could try and submit teams.</li>
        <li>Fixed some issues with querying on different browsers.</li>
        <li>Added calculator export button on Team Detail page.</li>
        <li>Contributors can now add videos to teams. Videos uploaded by the team owner will be emphasized. Videos uploaded by other users will be smaller.</li>
        <li>Added Reddit, Discord, and Twitch login integration.</li>
    </ul>
    <hr />
    <h2>01/09/18</h2>
    <ul>
        <li>First release candidate has been launched!</li>
    </ul>
</template>
