<template>
    <h2>
        Terms of Service
    </h2>
    <p>
        Thank you for visiting Nakama Network! By participating in Nakama Network you are subject to the following
        terms and conditions. Please read them carefully:
    </p>
    <h4>
        User Submissions and Content
    </h4>
    <p>
        If you choose to submit content to this Service we ask that you maintain a degree of professionalism. Your
        guide may be altered or removed without your consent if we determine in our sole discretion that they are
        unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene, or otherwise objectional.
    </p>
    <p>
        You are permitted to promote your own content, video guides, blogs, etcetera, in relation to The Service,
        however you must still participate in the Service. (i.e. you may submit a team and guide that link to your
        site for more information, but you may not submit teams with the sole purpose of advertising your own
        content.)
    </p>
    <p>
        By making a Submission, you are permitting Nakama Network and its affiliates a perpetual and non-revokable
        to use the submission for related promotional uses.
    </p>
    <h4>
        Limitation of Liability
    </h4>
    <p>
        In no event shall the Service, its operators, programmers, or contributors, be liable to you for any direct,
        indirect, incidental, special, punitive, or consequential damages whatsoever resulting from the usage of
        the Submissions. We claim no responsibility for gems, stamina, accounts, or mobile devices lost at the
        guidance of a Submission.
    </p>
    <h4>
        Contact Us
    </h4>
    <p>
        If you have any questions or suggestions about our Terms of Service, do not hesitate to contact us at
        <a href="mailto:nakama.db@gmail.com">nakama-db@gmail.com</a>.
    </p>
</template>
