<template>
    <div class="alert _alignCenter _success" if.bind="processing">
        <h3>Your donation has been authorized!</h3>
        <h4>Processing your donation on our end...</h4>
        <loading-area></loading-area>
    </div>
    <div class="alert _alignCenter _successLight _width100" if.bind="result">
        <h3>Success!</h3>
        <p>Your donation has been processed on our end.</p>
        <p>Please keep your donation invoice number for your records:</p>
        <h4>
            <strong>Invoice #:</strong>
            ${result.id}
        </h4>
        <p>
            If this is your first time donating, please log out and
            back in to apply your donor perks, or refresh the page to
            force yourself to relog.
        </p>
        <p>
            If you made your donation without being logged in and
            have or create a Nakama Network account, please contact
            <a href="mailto:nakama.db@gmail.com" target="_blank">nakama.db@gmail.com</a>
            with your Nakama Network username and invoice id to claim
            your donor perks!
        </p>
    </div>
</template>
