@using TreasureGuide.Web.Constants
@{
    ViewData["Title"] = "Donate to Nakama Network";
}

<div class="jumbo _info">
    <h2>@ViewData["Title"]</h2>
    Donate $1 or more to the development of Nakama Network and get the following perks <em>for life:</em>
    <br />
    <div class="note _successLight donor-info">
        <ul>
            <li>Increased box limit: from <strong>@BoxConstants.BoxLimit</strong> to <strong>@BoxConstants.DonorBoxLimit!</strong></li>
            <li>Shiny new user name display on team pages!</li>
            <li>Access to any and all perks that get added in the future.</li>
        </ul>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
