node_modules
.idea
.DS_STORE

wwwroot/scripts
wwwroot/css
src/**/*.js
src/**/*.js.map
test/unit/**/*.js
test/unit/**/*.js.map

// Templated Files
*.tst.gen

// Publish files
Properties/PublishProfiles

// Production Configs
appsettings.production.json

logs
keys