<template>
    <h1>Support</h1>
    <p>We'd like to take a moment to thank all of our incredible supporters who make Nakama Network possible!</p>

    <div class="row">
        <dl>
            <dt>
                The <a href="https://optc-db.github.io/" target="_blank">OPTC-db</a> team
            </dt>
            <dd>
                ...for their constant efforts to gather data on units, stages, ships, and
                every other aspect of One Piece: Treasure Cruise. Without their work Nakama
                Network could not exist!
            </dd>

            <dt>
                <a href="https://www.reddit.com/u/ASAPSlefty" target="_blank">ASAPSlefty</a>
            </dt>
            <dd>
                Whose original <a href="http://slefty.herokuapp.com/">Team Database</a> served as inspiration
                for many of the features on this site.
            </dd>

            <dt>
                <a href="https://www.reddit.com/u/irvollo" target="_blank">Irvollo</a>
            </dt>
            <dd>
                Whose <a href="https://optc-teams.herokuapp.com/">Team Database</a> inspired
                the video integration on this site.
            </dd>

            <dt>
                <a href="https://www.reddit.com/u/WackyPirates" target="_blank">WackyPirates</a>
            </dt>
            <dd>
                For maintaining the awesome <a href="https://docs.google.com/spreadsheets/d/1hFQiqF-KHVSlvB0B0aV0hfZt0cRD-ISkHMmUVPNM7ss/edit#gid=374998817">Team Spreadsheet</a>
                which provided a great deal of test data for the early stages of Nakama Network to work with.
            </dd>

            <dt>
                <a href="https://www.reddit.com/r/OnePieceTC" target="_blank">/r/OnePieceTC</a>
            </dt>
            <dd>
                The community that has provided so many ideas, suggestions, feedback, and knowledge for
                Nakama Network to build off of.
            </dd>
        </dl>
    </div>

    <h4>Donations</h4>
    <p>Another big shout-out to everyone who's donated to support Nakama Network!</p>

    <loading-area if.bind="loading"></loading-area>
    <div if.bind="!loading">
        <div class="row">
            <search-pager search-model.bind="searchModel" empty-message=""></search-pager>
        </div>
        <div class="row donation-collection" if.bind="donations.length > 0">
            <table class="_width100">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Amount</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="donation of donations">
                        <td>
                            <a route-href="route: profile; params.bind: {id: donation.userName}">
                                <user-display name.bind="donation.userName" unit-id.bind="donation.userUnitId" donor.bind="donation.userIsDonor"></user-display>
                            </a>
                        </td>
                        <td>
                            $${donation.amount | currencyFormat}
                        </td>
                        <td>
                            <em>${donation.message}</em>
                        </td>
                        <td>
                            ${donation.date | ageFormat}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <search-pager search-model.bind="searchModel" bottom="true"></search-pager>
        </div>
    </div>
    <div class="row">
        <h4>Want to help out?</h4>
        <div class="_alignCenter">
            <div class="col m6">
                <a class="button _xlarge _width100 _info" href="https://github.com/RoboCafaz/TreasureGuide">
                    <i class="fa fa-fw fa-github"></i>View on GitHub
                </a>
            </div>
            <div class="col m6">
                <a class="button _xlarge _width100 _info" href="https://discord.gg/vtAeMas">
                    <img src="/content/Discord-Logo-White.svg" class="fa fa-fw" />Join the Discord
                </a>
            </div>
            <div class="col m12">
                <a class="button _xlarge _width100 _success" route-href="route: donate">
                    <i class="fa fa-fw fa-usd"></i> Donate
                </a>
            </div>
            <div class="col m12">
                <a class="button _small _width100 _successLight" route-href="route: donationHistory" auth-req>
                    View my donations
                </a>
            </div>
        </div>
    </div>
</template>
