<template>
    <h1>${title}</h1>
    <form with.bind="stage">
        <div class="row">
            <md-input md-type="text" md-label="Name" md-value.bind="name"></md-input>
        </div>
        <div class="row">
            <md-checkbox md-checked.bind="global">Available on Global</md-checkbox>
        </div>
        <div class="row">
            <select md-select="label: Stage Type" value.two-way="type">
                <option repeat.for="type of stageTypes" value.bind="type.id">${type.name}</option>
            </select>
        </div>
        <div class="row">
            <md-input md-type="number" md-label="Stamina" md-value.bind="stamina"></md-input>
        </div>
        <div class="row">
            <stage-picker stage-id.two-way="parentId"></stage-picker>
        </div>
        <div class="row">
            <button md-button="large: true" md-waves click.delegate="submit()">
                Submit
                <i class="material-icons right large">send</i>
            </button>
        </div>
    </form>
</template>
