<template>
    <h1>${title}</h1>
    <div class="fixed-action-btn">
        <a md-button="floating: true; large: true" md-tooltip="position: left; text: Create New Stage;"
           md-waves="color: light; circle: true;" route-href="route: stageCreate">
            <i class="material-icons large">add</i>
        </a>
    </div>
    <div class="row">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Global
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Teams
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="stage of stages">
                    <td>
                        ${stage.id}
                    </td>
                    <td>
                        <i class="material-icons">${stage.global ? 'language' : ''}</i>
                    </td>
                    <td>
                        ${stage.name}
                    </td>
                    <td>
                        ${stage.type}
                    </td>
                    <td>
                        ${stage.teamCount}
                    </td>
                    <td class="actions">
                        <a md-button="floating: true" md-waves route-href="route: stageDetails; params.bind: {id: stage.id}">
                            <i class="material-icons left">visibility</i>
                        </a>
                        <a md-button="floating: true" md-waves route-href="route: stageEdit; params.bind: {id: stage.id}">
                            <i class="material-icons left">mode_edit</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
