<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>Global Clear Rates | Nakama Network</title>
    @{ Html.RenderPartial("_HeaderPartial"); }
</head>
<body>
    @{ Html.RenderPartial("_CssPartial"); }
    @RenderSection("Scripts", required: false)

    <div>
        @RenderBody()
    </div>
</body>
</html>