auto-complete {
    .dropdown {
        @extend ._alignCenter;
    }

    .dropdown-menu {
        @extend .listnav;
        max-width: max-content;
        border-radius: 4px;
        margin: auto;
    }

    input {
        margin-bottom: 0 !important;
    }
}
