@import "_variables.scss";

// Colors
$white-color: #FFFFFF;
$background-color: #FFFFFF;
$primary-color: #0B6C6C;
$light-color: #9E9E9E;
$dark-color: #585858;
$danger-color: #B41313;
$success-color: #76A811;
$warning-color: #B45C13;
$active-color: #6E6E6E;
$info-color: #183579;
$black-color: #000000;
$grey-color: #D1D1D1;
$donorStart-color: #B41313;
$donorEnd-color: #B45C13;
$invasion-color: darken($danger-color,5%);

$str-color: #FF3333;
$dex-color: #19A347;
$qck-color: #5656ff;
$psy-color: #ffbc44;
$int-color: #AC30D6;
$meat-color: #996633;

body {
    background-color: $background-color;
}

@mixin color($name, $color) {
    $dark: darken($color, 10%);

    $text: #aaa;

    @if lightness($color) >= 50 {
        $text: #000;
    }
    @else {
        $text: #fff;
    }

    ._#{$name} {
        border-color: $dark !important;
        background-color: $color !important;
        color: $text !important;

        a {
            color: $text;

            &:hover {
                color: $text;
                opacity: 0.6;
            }
        }
    }

    ._#{$name}Text {
        color: $dark;
    }
}

@mixin makeColor($name, $color) {
    @include color($name,$color);
    @include color("#{$name}Light", desaturate(lighten($color, 50%), 20%) );
    @include color("#{$name}Dark", saturate(darken($color, 20%), 10%) );
}

@include makeColor("active",$active-color);
@include makeColor("background",$background-color);
@include makeColor("danger",$danger-color);
@include makeColor("dark",$dark-color);
@include makeColor("info",$info-color);
@include makeColor("light",$light-color);
@include makeColor("primary",$primary-color);
@include makeColor("success",$success-color);
@include makeColor("warning",$warning-color);
@include makeColor("white",$white-color);
@include makeColor("black",$black-color);
@include makeColor("grey",$grey-color);
@include makeColor("donorStart",$donorStart-color);
@include makeColor("donorEnd",$donorEnd-color);
@include makeColor("invasion",$invasion-color);

@include makeColor("str",$str-color);
@include makeColor("dex",$dex-color);
@include makeColor("qck",$qck-color);
@include makeColor("psy",$psy-color);
@include makeColor("int",$int-color);
@include makeColor("meat",$meat-color);

a {
    @extend ._primaryText;

    &:hover {
        @extend ._primaryText;
        opacity: 0.6;
    }
}
