@import "_variables.scss";

body {
    background-color: $background-color;
}

@mixin color($name, $color) {
    ._#{$name} {
        border-color: darken($color, 10%) !important;
        background-color: $color !important;
    }

    ._#{$name}Text {
        color: darken($color, 10%);
    }
}

@include color("active",$active-color);
@include color("background",$background-color);
@include color("danger",$danger-color);
@include color("dark",$dark-color);
@include color("info",$info-color);
@include color("light",$light-color);
@include color("primary",$primary-color);
@include color("success",$success-color);
@include color("warning",$warning-color);
@include color("white",$white-color);
@include color("black",$black-color);

a {
    @extend ._primaryText;

    &:hover {
        @extend ._primaryText;
        opacity: 0.6;
    }
}


._dark {
    a {
        @extend ._lightText;

        &:hover {
            @extend ._lightText;
        }
    }
}
