@import "_variables.scss";

.input-validation-error {
    color: $danger-color !important;
    font-style: italic;

    input {
        border-color: $danger-color !important;
        font-style: initial;
        color: initial;
    }
}

label {
    white-space: nowrap;

    span.-label-body {
        margin: 0.2em;
        vertical-align: top;
    }
}

input.input-validation-error {
    border-color: $danger-color !important;
    font-style: initial;
    color: initial;
}

input[disabled], textarea[disabled], select[disabled], button[disabled] {
    cursor: not-allowed;
}

.field-validation-error {
    @extend ._dangerText;
    margin-left: 0.5em;
}

input, textarea, select, fieldset {
    margin-bottom: 0;
}

select[multiple] {
    min-height: 112px;
}

.field-length {
    @extend ._floatRight;
    font-size: 0.8em;
    font-style: italic;
    margin-left: 8px;
    margin-top: -2px;
}

markdown.preview {
    @extend ._grey;
    min-height: 65px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}

.alert-area {
    @extend ._width100;
    position: fixed;
    bottom: -10px;
    z-index: 99999;

    @media #{$medium-and-up} {
        margin-bottom: 30px;
    }

    .alert {
        padding: 10px;

        @media #{$medium-and-down} {
            padding: 5px;
            font-size: smaller;
        }

        -webkit-animation: fadein .5s;
        animation: fadein .5s;

        &.disappearing {
            -webkit-animation: fadeout 1s;
            animation: fadeout 1s;
        }
    }
}

.alert {
    margin: 10px auto;

    @media #{$medium-and-down} {
        width: 90%;
    }

    @media #{$large-and-up} {
        width: 75%;
    }
}


.login-wrapper {
    margin: 50px auto;
    height: 80vh;

    .container {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.bit-button {
    margin: 0.2em !important;
    padding: 0.4em !important;

    img {
        height: 2.6em !important;
        width: 2.6em !important;
    }

    &.off {
        -webkit-filter: brightness(60%) grayscale(80%);
        filter: brightness(60%) grayscale(80%);
        @extend ._greyDark;
    }

    &.on {
        @extend ._infoLight;
    }
}
