$error-color: #f44336;

.validation-error {
    color: $error-color !important;
    font-style: italic;

    input {
        border-color: $error-color !important;
    }

    .validation-message {
        color: $error-color !important;
        margin-left: 0.5em;
    }
}

input, textarea, select, fieldset {
    margin-bottom: 0;
}

.field-length {
    @extend ._floatRight;
    font-size: 0.8em;
    font-style: italic;

    margin-left: 8px;
    margin-top: -2px;
}
