.gcr {
    font-size: smaller;

    .unit-display {
        overflow: visible;
    }

    td, th, tr {
        padding: 0;
        margin: 0;
        text-align: center;
        vertical-align: middle;
    }

    th, td {
        @extend .no-wrap;
        border: 1px solid rgba(0,0,0,0.2);
        border-top: none;
        border-left: none;
    }

    .unit-display {
        min-width: $small-unit-size;
    }

    .stage-display {
        text-align: start;

        stage-display {
            @extend .truncate;
            height: 100%;
            max-width: 150px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    gcr-cell {
        .complete {
            @extend ._success;
        }

        .incomplete {
            @extend ._warningLight;
        }

        .empty {
            @extend ._dangerLight;
        }
    }

    // Highlights
    table {
        overflow: hidden;

        tr:nth-child(even) {
            background-color: rgba(128, 128, 128, 0.2);
        }

        tr:hover {
            background-color: #ffd800;
        }

        td, th {
            position: relative;
        }

        td:hover,
        th:hover {
            overflow: visible;
        }

        td:hover::after,
        th:hover::after {
            background-color: #ffd800;
            content: "";
            position: absolute;
            left: 0;
            top: -5000px;
            height: 10000px;
            width: 100%;
            z-index: -1;
        }
    }
}
