aup-pagination {
    .list-inline {
        list-style: disc outside;

        li {
            display: inline-block;
            margin: 0 !important;

            * {
                margin: 0 !important;
            }

            a {
                @extend .button;
                @extend ._small;
                padding: 7px !important;
            }

            input {
                max-width: 64px;
            }
        }
    }
}

.loading-area {
    @extend ._width100;
    @extend ._alignCenter;
    padding: 60px 0;

    i {
        font-size: 8em;
    }
}

.sort-buttons {
    @extend ._alignCenter;

    .sort-button {
        margin: 0 4px;
        @extend .button;
        @extend ._small;
    }
}
