@import "../../node_modules/@outboxcraft/beauter/beauter";
@import "forms.scss";
@import "pagination.scss";
@import "teams.scss";

.aurelia-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: 0.5;
}

ux-dialog-container {
    & > div {
        //  @media #{$medium-and-down} {
        padding: 2px;
        //   }
    }

    & > div > div {
        //   @media #{$large-and-up} {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        //  }
        //@media #{$extra-large-and-up} {
        //    width: 60%;
        //     max-width: 60%;
        //     min-width: 60%;
        // }
    }

    ux-dialog {
        width: 100%;
    }
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {

    &._unclickable {
        @extend ._disabled;
        cursor: default;
        opacity: 1.0;
        pointer-events: none;
    }
}

._flat {
    border: none !important;
}

ux-dialog-header {
    .modal-action {
        right: -20px;
    }
}

ux-dialog-footer {
    .button {
        margin-left: 5px;
    }
}