<template>
    <loading-area if.bind="loading"></loading-area>
    <div if.bind="!loading" with.bind="team">
        <h1>${name}</h1>
        <div class="row" auth-req="Moderator, Administrator">
            <team-reports team.bind="team"></team-reports>
            <div class="alert _danger" if.bind="deleted">
                This team has been deleted.
            </div>
        </div>
        <div class="row" if.bind="canEdit">
            <a class="button _primary" route-href="route: teamEdit; params.bind: {id: id}">
                <i class="fa fa-fw fa-pencil"></i>
                Edit Team
            </a>
        </div>
        <div class="row" if.bind="stageId">
            <h2>Stage</h2>
            <stage-display stage-id.bind="stageId"></stage-display>
        </div>
        <div class="row">
            <div class="_floatRight">
                <score-display team-id.bind="id" score.bind="score" my-vote.two-way="myVote" votable="true"></score-display>
            </div>
            <h2>Team</h2>
            <div class="_alignCenter">
                <team-display team.bind="teamUnits"></team-display>
                <ship-display ship-id.two-way="shipId"></ship-display>
                <br />
                <a href.bind="calcLink" target="_blank" href="#" class="button _small _active">
                    <i class="fa fa-fw fa-calculator"></i>
                    Open in Damage Calculator
                </a>
            </div>
        </div>
        <div class="row" if.bind="teamSockets && teamSockets.length > 0">
            <h2>Sockets</h2>
            <div class="_alignCenter">
                <socket-picker sockets.two-way="teamSockets"></socket-picker>
            </div>
        </div>
        <div class="row" if.bind="guide">
            <h2>Guide</h2>
            <p>${guide}</p>
        </div>
        <div class="row" if.bind="credits">
            <h2>Credits</h2>
            <p>${credits}</p>
        </div>
        <div class="row _alignRight">
            Submitted by
            <a route-href="route: account; params.bind: {id: submittedById}">
                <user-display name.bind="submittedByName" unit-id.bind="submittedByUnitId"></user-display>
            </a>
            on ${editedDate | dateTimeFormat}
        </div>
    </div>
</template>
