<template>
    <h1>${name}</h1>
    <div with.bind="team">
        <div class="row" if.bind="stageId">
            <h2>Stage</h2>
            <stage-display stage-id.bind="stageId"></stage-display>
        </div>
        <div class="row">
            <h2>Team</h2>
            <div class="_alignCenter">
                <team-display team.bind="teamUnits"
                              ship.bind="shipId">
                </team-display>
            </div>
        </div>
        <div class="row" if.bind="teamSockets && teamSockets.length > 0">
            <h2>Sockets</h2>
            <div class="_alignCenter">
                <socket-picker sockets.two-way="teamSockets"></socket-picker>
            </div>
        </div>
        <div class="row" if.bind="description">
            <h2>Description</h2>
            <p>${description}</p>
        </div>
        <div class="row" if.bind="guide">
            <h2>Guide</h2>
            <p>${guide}</p>
        </div>
        <div class="row" if.bind="credits">
            <h2>Credits</h2>
            <p>${credits}</p>
        </div>
    </div>
</template>
