<template>
    <h1>${title}</h1>
    <div class="center" with.bind="team">
        <div class="row">
            <md-input md-type="text" md-label="Name" md-value.bind="name"></md-input>
        </div>
        <div class="row">
            <team-display team.two-way="teamUnits" editable.bind="true"></team-display>
        </div>
        <div class="row">
            <socket-picker sockets.two-way="teamSockets"></socket-picker>
        </div>
        <div class="row">
            <md-input md-text-area="true" md-label="Description" md-value.bind="description"></md-input>
        </div>
        <div class="row">
            <md-input md-text-area="true" md-label="Guide" md-value.bind="guide"></md-input>
        </div>
        <div class="row">
            <md-input md-text-area="true" md-label="Credits" md-value.bind="credits"></md-input>
        </div>
        <div class="row">
            <button md-button="large: true" md-waves click.delegate="submit()">
                Submit
                <i class="material-icons right large">send</i>
            </button>
        </div>
    </div>
</template>
