<template>
    <h1>Import Teams</h1>
    <table class="_width100 import-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Calc Link</th>
                <th>Stage</th>
                <th>Description</th>
                <th>Credit</th>
                <th>Videos</th>
                <th>Original</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="import of imports" with.bind="import" class.bind="submitted ? '_success' : failed ? '_danger' : ''">
                <td>
                    <input type="text" value.bind="name" class="_width100" placeholder="Name" />
                </td>
                <td>
                    <input type="text" value.bind="calc" class="_width100" placeholder="OPTC-DB Export Link" />
                </td>
                <td>
                    <stage-display stage-id.two-way="stage" editable="true"></stage-display>
                </td>
                <td>
                    <textarea type="text" value.bind="desc" class="_width100" placeholder="Description"></textarea>
                </td>
                <td>
                    <textarea type="text" value.bind="credit" class="_width100" placeholder="Credits"></textarea>
                </td>
                <td>
                    <textarea type="text" value.bind="videos" class="_width100" placeholder="Comma-delimited"></textarea>
                </td>
                <td>
                    <input type="text" value.bind="ref" class="_width100" placeholder="Reference for credit" />
                </td>
                <td>
                    <input type="text" value.bind="type" class="_width100" placeholder="Type of Reference" />
                </td>
            </tr>
            <tr class="_light">
                <td colspan="8" class="_alignRight">
                    <button class="button _success _width100" click.delegate="add()">
                        <i class="fa fa-fw fa-plus"></i>
                        Add Row
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col m6">
            <textarea class="_width100" value.bind="strings" placeholder="Strings..."></textarea>
        </div>
        <div class="col m4">
            <button class="button _primary" click.delegate="convertStrings()">
                Convert
            </button>
        </div>
        <div class="col m2">
            <button class="_floatRight button _primary" click.delegate="submit()">
                Submit
            </button>
        </div>
    </div>
</template>
