<template>
    <h1>Import Teams</h1>
    <table class="_width100 import-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Calc Link</th>
                <th>Stage</th>
                <th>Description</th>
                <th>Credit</th>
                <th>Videos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="import of imports" class.bind="import.submitted ? '_success' : import.failed ? '_danger' : ''">
                <td>
                    <input type="text" value.bind="import.name" class="_width100" placeholder="Leave Blank to Auto-Generate" />
                </td>
                <td>
                    <input type="text" value.bind="import.calc" class="_width100" placeholder="OPTC-DB Export Link" />
                </td>
                <td>
                    <stage-display stage-id.two-way="import.stage" editable="true" size="small"></stage-display>
                </td>
                <td>
                    <textarea type="text" value.bind="import.desc" class="_width100" placeholder="Description"></textarea>
                </td>
                <td>
                    <textarea type="text" value.bind="import.credit" class="_width100" placeholder="Credits"></textarea>
                </td>
                <td>
                    <textarea type="text" value.bind="import.videos" class="_width100" placeholder="Comma-delimited"></textarea>
                </td>
                <td>
                    <button type="button" class="button _danger _xsmall" click.delegate="remove(import)">
                        <i class="fa fa-fw fa-times"></i>
                    </button>
                    <a if.bind="import.id" class="button _info _xsmall" route-href="route: teamDetails; params.bind: { id: import.id }">
                        <i class="fa fa-fw fa-eye"></i>
                    </a>
                </td>
            </tr>
            <tr class="_light">
                <td colspan="9" class="_alignRight">
                    <button type="button" class="button _success _width100" click.delegate="add()">
                        <i class="fa fa-fw fa-plus"></i>
                        Add Row
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col m10">
            <label for="draftInput">
                <input type="checkbox" id="draftInput" checked.bind="draft" />
                <span class="-label-body">
                    Save as Draft
                </span>
            </label>
            <em><small>(Saves team to server without allowing others to see it.)</small></em>
        </div>
        <div class="col m2">
            <button type="submit" class="_floatRight button _primary _width100" click.delegate="submit()">
                Submit
            </button>
        </div>
    </div>
    <div class="row">
        <div>
            Bulk-import teams: One team per line, starting with the calculator link followed by YouTube links all separated by semicolons (;). For example:
            <pre><code><p>http://optc-db.github.io/damage/#/transfer/D1794:99:100:0:0,1123:99:100:0:0,831:99,418:99,1897:99,1662:99C26,10B0D0E256Q0L0G0R32S100H;https://www.youtube.com/watch?v=kDZDYgaonjo;https://www.youtube.com/watch?v=VvnAGuoKfU4
http://optc-db.github.io/damage/#/transfer/D1794:99:100:0:0,1123:99:100:0:0,831:99,418:99,1897:99,1662:99C26,10B0D0E256Q0L0G0R32S100H;https://www.youtube.com/watch?v=kDZDYgaonjo
http://optc-db.github.io/damage/#/transfer/D1794:99:100:0:0,1123:99:100:0:0,831:99,418:99,1897:99,1662:99C26,10B0D0E256Q0L0G0R32S100H
http://optc-db.github.io/damage/#/transfer/D1794:99:100:0:0,1123:99:100:0:0,831:99,418:99,1897:99,1662:99C26,10B0D0E256Q0L0G0R32S100H;https://www.youtube.com/watch?v=kDZDYgaonjo
http://optc-db.github.io/damage/#/transfer/D1794:99:100:0:0,1123:99:100:0:0,831:99,418:99,1897:99,1662:99C26,10B0D0E256Q0L0G0R32S100H</p></code></pre>
        </div>
        <textarea class="_width100" value.bind="strings" placeholder="Strings..."></textarea>
    </div>
    <div class="row">
        <div class="col m4">
            <stage-display stage-id.two-way="stageId" editable="true"></stage-display>
        </div>
        <div class="col m8">
            <button type="button" class="button _width100" click.delegate="convertStrings()">
                Convert
            </button>
        </div>
    </div>
</template>
