<template>
    <h1>${title}</h1>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" route-href="route: teamEdit">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Units
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="team of teams">
                    <td>
                        ${team.id}
                    </td>
                    <td>
                        ${team.name}
                    </td>
                    <td>
                        ${team.units}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
