<template>
    <h1>${title}</h1>
    <div class="fixed-action-btn" auth-req="Contributor">
        <a md-button="floating: true; large: true" md-tooltip="position: left; text: Create New Team;"
           md-waves="color: light; circle: true;" route-href="route: teamCreate">
            <i class="material-icons large">add</i>
        </a>
    </div>
    <div class="row">
        <team-search model.bind="searchModel"></team-search>
    </div>
    <div class="row center" if.bind="pages > 1">
        <md-pagination md-pages.bind="pages" md-active-page.bind="searchModel.page" md-on-page-changed.delegate="onPageChanged($event)"></md-pagination>
    </div>
    <div class="row" if.bind="teams.length > 0">
        <p>${((searchModel.page - 1) * searchModel.pageSize) + 1} - ${((searchModel.page - 1) * searchModel.pageSize) + teams.length} of ${resultCount}</p>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Units
                    </th>
                    <th>
                        Stage
                    </th>
                    <th>
                        View
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="team of teams">
                    <td>
                        ${team.id}
                    </td>
                    <td>
                        ${team.name}
                    </td>
                    <td>
                        <team-display team.bind="team.teamUnits" size="small" in-line></team-display>
                    </td>
                    <td>
                        <stage-display stage-id.bind="team.stageId"></stage-display>
                    </td>
                    <td class="actions">
                        <a md-button md-waves route-href="route: teamDetails; params.bind: {id: team.id}">
                            <i class="material-icons left">visibility</i> View
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row center" if.bind="!teams || teams.length == 0">
        <h3>Search yielded no results!</h3>
    </div>
</template>
