<template>
    <h1>${title}</h1>
    <div auth-req="Contributor">
        <a class="button _info _xlarge _width100" route-href="route: teamCreate">
            <i class="fa fa-fw fa-plus"></i> Submit a Team
        </a>
    </div>
    <div class="row">
        <team-search model.bind="searchModel"></team-search>
    </div>
    <div class="row">
        <search-pager search-model.bind="searchModel" result-count.bind="resultCount"></search-pager>
    </div>
    <div class="row" if.bind="teams.length > 0">
        <table class="_width100">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Units
                    </th>
                    <th>
                        Stage
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="team of teams" route-href="route: teamDetails; params.bind: {id: team.id}">
                    <td>
                        ${team.id}
                    </td>
                    <td>
                        ${team.name}
                    </td>
                    <td>
                        <team-display team.bind="team.teamUnits" size="tiny" in-line></team-display>
                    </td>
                    <td>
                        <stage-display stage-id.bind="team.stageId"></stage-display>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
