<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aurelia</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body aurelia-app="main">
    <script src="~/scripts/vendor-bundle.js" data-main="aurelia-bootstrapper"></script>
</body>
</html>
