<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @{ Html.RenderPartial("_HeaderPartial"); }
    <title>Nakama Network</title>
</head>
<body>
    @{ Html.RenderPartial("_CssPartial"); }
    @{ Html.RenderPartial("_AuthExportPartial"); }
    <div class="hiddendiv"></div>

    <div class="aurelia-wrapper" aurelia-app="main">
        <div class="preloader">
            <h1>
                <i class="fa fa-circle-o-notch fa-spin fa-fw fa-3x"></i>
                <p>Loading...</p>
            </h1>
            <style>
                .preloader {
                    text-align: center;
                    font-family: sans-serif;
                    margin-top: 15%;
                    line-height: 2em;
                }
            </style>
        </div>
    </div>
    <script src="~/scripts/vendor-bundle.js" data-main="aurelia-bootstrapper"></script>
</body>
</html>