body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    padding-bottom: 6px;
}

.unit-display {
    position: relative;
}

.unit-display .unit-details {
    width: 100%;
    height: 25%;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.unit-display .unit-detail {
    width: 25%;
    height: 100%;
    display: inline-block;
    float: right;
}

.unit-display.unit-display-sm {
    width: 74px;
    height: 74px;
}

.unit-display.unit-display-xs {
    width: 32px;
    height: 32px;
}

.unit-display {
    width: 112px;
    height: 112px;
}

.unit-display .unit-portrait {
    width: 100%;
}

.unit-detail {
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.unit-type-0 {
    background-image: url("/content/images/icon.png");
    background-color: gray;
}

.unit-type-1 {
    background-image: url("/content/images/icon.png");
    background-color: red;
}

.unit-type-2 {
    background-image: url("/content/images/icon.png");
    background-color: green;
}

.unit-type-3 {
    background-image: url("/content/images/icon.png");
    background-color: blue;
}

.unit-type-4 {
    background-image: url("/content/images/icon.png");
    background-color: purple;
}

.unit-type-5 {
    background-image: url("/content/images/icon.png");
    background-color: yellow;
}

.unit-class-0 {
    background-image: url("/content/images/icon.png");
}

.unit-class-1 {
    background-image: url("/content/images/icons/shooter.png");
}

.unit-class-2 {
    background-image: url("/content/images/icons/fighter.png");
}

.unit-class-3 {
    background-image: url("/content/images/icons/striker.png");
}

.unit-class-4 {
    background-image: url("/content/images/icons/slasher.png");
}

.unit-class-5 {
    background-image: url("/content/images/icons/cerebral.png");
}

.unit-class-6 {
    background-image: url("/content/images/icons/driven.png");
}

.unit-class-7 {
    background-image: url("/content/images/icons/powerhouse.png");
}

.unit-class-8 {
    background-image: url("/content/images/icons/evolver.png");
}

.unit-class-9 {
    background-image: url("/content/images/icons/booster.png");
}
