<template>
    <loading-area if.bind="loading"></loading-area>
    <div if.bind="!loading" with.bind="profile">
        <h1>${userName}</h1>
        <a if.bind="canEdit" class="button _primary" route-href="route: profileEdit; params.bind: { id: id }">
            <i class="fa fa-fw fa-pencil"></i>
            Edit Profile
        </a>
        <div class="_floatRight" if.bind="unitId">
            <unit-display unit-id.bind="unitId">
            </unit-display>
        </div>
        <div if.bind="website">
            <label for="website">Website</label>
            <a id="website" href.bind="websiteParsed" href="#" target="_blank">${website}</a>
        </div>
        <div>
            <label for="roles">Roles</label>
            <ul id="roles">
                <li repeat.for="role of userRoles">${role}</li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Boxes</h2>
        <loading-area if.bind="loadingBoxes"></loading-area>
        <div if.bind="!loadingBoxes">
            <div class="row box-collection" if.bind="boxes.length > 0">
                <table class="_width100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Friend Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="box of boxes">
                            <td>
                                <a route-href="route: boxDetails; params.bind: { id: box.id }">
                                    ${box.name}
                                </a>
                                <i class="fa fa-fw fa-users" title="Public" if.bind="box.public"></i>
                                <i class="fa fa-fw fa-times-rectangle-o" title="Blacklist" if.bind="box.blacklist"></i>
                            </td>
                            <td>
                                <friend-id-display friend-id.bind="box.friendId" global.bind="box.global"></friend-id-display>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" if.bind="boxes.length === 0">
                <h4>This user is not sharing any boxes.</h4>
            </div>
        </div>
    </div>
    <div>
        <h2>Teams</h2>
        <div class="row">
            <team-search model.two-way="teamSearchModel" user-locked="true"></team-search>
        </div>
        <div class="row">
            <loading-area if.bind="loadingTeams"></loading-area>
            <div if.bind="!loadingTeams">
                <div class="row">
                    <search-pager search-model.bind="teamSearchModel"></search-pager>
                </div>
                <div class="row team-collection" if.bind="teams.length > 0">
                    <div class=" col m6" repeat.for="team of teams">
                        <team-box team.bind="team"></team-box>
                    </div>
                </div>
                <div class="row">
                    <search-pager search-model.bind="teamSearchModel" bottom="true"></search-pager>
                </div>
            </div>
        </div>
    </div>
</template>
