<template>
    <h1>Global Clear Rates</h1>
    <loading-area if.bind="loading"></loading-area>
    <div if.bind="!loading">
        <table with.bind="gcr" class="gcr">
            <thead>
                <tr>
                    <th></th>
                    <th class="unit-display" repeat.for="unit of unitIds">
                        <unit-display unit-id.bind="unit" size="small" tooltip="true"></unit-display>
                    </th>
                    <th class="unit-display">
                        F2P
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="stage of stageIds">
                    <th class="stage-display">
                        <a route-href="route: stageDetails; params.bind: { id: stage }" target="_blank">
                            <stage-display stage-id.bind="stage"></stage-display>
                        </a>
                    </th>
                    <td repeat.for="unit of unitIds">
                        <a route-href="route: teams; params.bind: { leaderId: unit, stageId: stage }" target="_blank">
                            <gcr-cell stage-id.one-time="stage" unit-id.one-time="unit" gcr.one-time="gcr"></gcr-cell>
                        </a>
                    </td>
                    <td>
                        <a route-href="route: teams; params.bind: { stageId: stage, freeToPlay: 1 }" target="_blank">
                            <gcr-cell stage-id.one-time="stage" gcr.one-time="gcr"></gcr-cell>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
