<template>
    <h1>${title}</h1>
    <div class="row">
        <table class="striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Classes
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="unit of units">
                    <td>
                        ${unit.id}
                    </td>
                    <td>
                        ${unit.name}
                    </td>
                    <td>
                        ${unit.type}
                    </td>
                    <td>
                        ${unit.unitClasses}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
