<template>
    <loading-area if.bind="loading"></loading-area>
    <div if.bind="!loading" with.bind="profile">
        <h1>${userName}</h1>
        <a if.bind="canEdit" class="button _primary" route-href="route: accountEdit; params.bind: {id: id}">
            <i class="fa fa-fw fa-pencil"></i>
            Edit Profile
        </a>
        <div class="_floatRight" if.bind="unitId">
            <unit-display unit-id.bind="unitId"></unit-display>
        </div>
        <div class="row" if.bind="friendId">
            <label for="friendId">Friend Id</label>
            <friend-id-display id="friendId" friend-id.bind="friendId" global.bind="global"></friend-id-display>
        </div>
        <div class="row" if.bind="website">
            <label for="website">Website</label>
            <a id="website" href.bind="website" href="#" target="_blank">${website}</a>
        </div>
        <div class="row">
            <fieldset>
                <legend>Roles</legend>
                <ul>
                    <li repeat.for="role of userRoles">${role}</li>
                </ul>
            </fieldset>
        </div>

        <div class="row">
            <fieldset>
                <legend>Teams</legend>
                <loading-area if.bind="loadingTeams"></loading-area>
                <div if.bind="!loadingTeams">
                    <div class="row">
                        <search-pager search-model.bind="teamSearchModel"></search-pager>
                    </div>
                    <div class="row team-collection" if.bind="teams.length > 0">
                        <div class=" col m6" repeat.for="team of teams">
                            <team-box team.bind="team"></team-box>
                        </div>
                    </div>
                    <div class="row">
                        <search-pager search-model.bind="teamSearchModel" bottom="true"></search-pager>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</template>
