<template>
    <loading-area if.bind="loading"></loading-area>
    <div if.bind="!loading" with.bind="profile">
        <h1>${userName}</h1>
        <a if.bind="canEdit" class="button _primary" route-href="route: accountEdit; params.bind: {id: id}">
            <i class="fa fa-fw fa-pencil"></i>
            Edit Profile
        </a>
        <div class="_floatRight" if.bind="unitId">
            <unit-display unit-id.bind="unitId"></unit-display>
        </div>
        <div class="row" if.bind="friendId">
            <label for="friendId">Friend Id</label>
            <friend-id-display id="friendId" friend-id.bind="friendId" global.bind="global"></friend-id-display>
        </div>
        <div class="row" if.bind="website">
            <label for="website">Website</label>
            <a id="website" href.bind="website" href="#" target="_blank">${website}</a>
        </div>
        <div class="row">
            <fieldset>
                <legend>Roles</legend>
                <ul>
                    <li repeat.for="role of userRoles">${role}</li>
                </ul>
            </fieldset>
        </div>
    </div>
</template>
