<template>
    <loading-area if.bind="loading"></loading-area>
    <div if.bind="!loading" with.bind="profile">
        <h1>${userName}</h1>
        <a if.bind="canEdit" class="button _primary" route-href="route: accountEdit; params.bind: {id: id}">
            <i class="fa fa-fw fa-pencil"></i>
            Edit Profile
        </a>
        <div class="_floatRight" if.bind="unitId">
            <unit-display model.bind="unitId">
            </unit-display>
        </div>
        <div if.bind="friendId">
            <label for="friendId">Friend Id</label>
            <friend-id-display id="friendId" friend-id.bind="friendId" global.bind="global"></friend-id-display>
        </div>
        <div if.bind="website">
            <label for="website">Website</label>
            <a id="website" href.bind="websiteParsed" href="#" target="_blank">${website}</a>
        </div>
        <div>
            <label for="roles">Roles</label>
            <ul id="roles">
                <li repeat.for="role of userRoles">${role}</li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Teams</h2>
        <div class="row">
            <team-search model.two-way="teamSearchModel" user-locked="true"></team-search>
        </div>
        <div class="row">
            <loading-area if.bind="loadingTeams"></loading-area>
            <div if.bind="!loadingTeams">
                <div class="row">
                    <search-pager search-model.bind="teamSearchModel"></search-pager>
                </div>
                <div class="row team-collection" if.bind="teams.length > 0">
                    <div class=" col m6" repeat.for="team of teams">
                        <team-box team.bind="team"></team-box>
                    </div>
                </div>
                <div class="row">
                    <search-pager search-model.bind="teamSearchModel" bottom="true"></search-pager>
                </div>
            </div>
        </div>
    </div>
</template>
