<template>
    <h1>Admin</h1>
    <div class="row">
        <h2>Tools</h2>
        <button type="button" click.delegate="createTeam()">Create a Random Team</button>
    </div>
    <h2>User Management</h2>
    <form with.bind="searchModel">
        <fieldset>
            <legend>Search</legend>
            <div class="row">
                <div class="col m6">
                    <label for="nameInput">User Name</label>
                    <input id="nameInput" type="text" value.bind="term" />
                </div>
                <div class="col m6">
                    <label for="roleInput">Roles</label>
                    <select multiple value.bind="roles" class="_width100">
                        <option repeat.for="role of allRoles" model.bind="role">${role}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button type="button" class="button _floatRight" click.trigger="reset()">Reset</button>
            </div>
        </fieldset>
    </form>
    <div class="row">
        <loading-area if.bind="loading"></loading-area>
        <div if.bind="!loading">
            <div class="row">
                <search-pager search-model.bind="searchModel"></search-pager>
            </div>
            <div class="row" if.bind="profiles.length > 0">
                <table class="_width100">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Teams</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="profile of profiles">
                            <td>
                                <a route-href="route: account; params.bind: { id: profile.userName }">
                                    <user-display name.bind="profile.userName" unit-id.bind="profile.unitId"></user-display>
                                </a>
                            </td>
                            <th>
                                ${profile.teamCount}
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <search-pager search-model.bind="searchModel" bottom="true"></search-pager>
            </div>
        </div>
    </div>
</template>
